<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd"><plist version="0.9"><dict>	<key>CFBundleIdentifier</key>	<string>com.IntelliTools.USB.ControlPanel</string>	<key>CFBundleName</key>	<string>IKUSBcontrolPanel</string>	<key>CFBundleGetInfoString</key>	<string>IKUSBcontrolPanel version 1.0, Copyright © 2002 by Metrowerks Corporation.  All rights reserved.</string>	<key>CFBundleShortVersionString</key>	<string>IKUSBcontrolPanel version 1.0</string>	<key>CFBundlePackageType</key>	<string>BNDL</string>	<key>CFBundleSignature</key>	<string>????</string>	<key>CFBundleExecutable</key>	<string>IKUSBcontrolPanel</string>	<key>CFBundleVersion</key>	<string>1.0</string>	<key>CFBundleDevelopmentRegion</key>	<string>English</string>	<key>CFBundleInfoDictionaryVersion</key>	<string>6.0</string></dict></plist>